.body-context{
    background: #dbd8e0;
    height: 100%;
}
.body-context > nav {
    background-color: lightseagreen !important;
}

.body-context > nav > div >a {
    color: white;
}

.slide-divs{
    background: lightseagreen;
}
.img-wrapper{
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;

}
* {
    box-sizing: border-box;
}

.slider {
    width: 70%;

    margin-left: 15%;
}
.slider-row{
    margin-top: 18% ;
}

.slick-slide {
    margin: 0px 20px;
    height: 40% !important;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}
.slide-divs > img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.slide-divs {
   text-align: center;
    color: white;
}
.slide-divs > span > a {
    color: white;
}

.add-user-btn{
    margin-top: 0.5%;
}
