<html>
<head>
</head>
<body>
    <div class="modal-header">
        <h3 class="modal-title">Add User</h3>
    </div>

    <form  ng-submit="addUser(newName)">
        <div class="modal-body">
                <input ng-model="form.image" ng-file-select type="file" class=""
                       accept="image/*" onchange="angular.element(this).scope().uploadedFile(this)"/>
                <br>
                <img ng-src="{{image_source}}" style="width:200px;margin-top: 5px;margin-bottom: 5px">
                <br>
                <input ng-model="newName" size="30" placeholder="add new user name here!" class="input-xlarge addInput" value=""/>
        </div>
        <div class="modal-footer">
             <button class="btn btn-warning" type="submit" ng-click="close()">Add</button>
             <button class="btn btn-warning" type="button" ng-click="close()">Close</button>
        </div>
    </form>

</body>
</html>