<!--form-control-->
<div ng-show="adding">
	<h3>Add User</h3>
	<form ng-submit="addUser(newName)">
		<input ng-model="form.image" ng-file-select type="file" class=""
			   accept="image/*" onchange="angular.element(this).scope().uploadedFile(this)"/>
		<br>
		<img ng-src="{{image_source}}" style="width:200px;margin-top: 5px;margin-bottom: 5px">
		<br>
		<input ng-model="newName" size="30" placeholder="add new user name here!" class="input-xlarge addInput" value=""/>
		<input class="btn-primary" type="submit" value="add"/>
	</form>
</div>