<html>
<head></head>
<body>
	<div class="modal-header">
		<h3 class="modal-title">Edit User</h3>
	</div>

	<form  ng-submit=" editUser(user.id,editing.username)">
		<div class="modal-body edit-body">

			<h4>Current User : {{currentUser.username}}</p></h4>
			<img class="edit-img"  ng-src="{{!image_source ? editing.avatar : image_source}}"
				 alt="{{editing.username}} Image  "
				 style=" height: 100px; width: 100px; border-radius: 5%"/>
			<br><br>
			<div class="file">
				<label  class="btn btn-lg upload-btn"  for="addfile-input">Change Image</label>
				<input id="addfile-input" ng-model="form.image" type="file"
					   accept="image/*" onchange="angular.element(this).scope().uploadedFile(this)" />
			</div>
			<br>
			<input ng-model="editing.username" value="" class="input-xlarge" />
			<br>

		</div>

		<div class="modal-footer">
			<button class="btn btn-warning" type="submit" ng-click="editUserImage(image_source)">Edit</button>
			<button class="btn btn-warning" type="button" ng-click="editUserImage(image_source);close();">Close</button>
		</div>
	</form>
</body>
</html>